/* Begin custom css */

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* blog splash page title */

.title_container {
  display: flex;
  justify-content: center;
  grid-area: title;
  padding: 1rem;
}

.title {
  animation-name: title;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  color: darkorange;
}

.layout_body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.blog_item {

  max-width: 50%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  transition: 1s ease-in-out .1s;
  /* border-bottom: 1px #f1faee outset; */
  border: 0px;
  background-color: rgb(31, 31, 31);
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem;

}


.layout_footer {
  grid-area: footer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout_container {
  display: grid;
  padding: 1rem 4rem;
  background-color: #0e0d0d;
  color: #f1faee;
  row-gap: 1rem;
  min-height: 100vh;
  /* min-height: 100vh; */
  grid-template-areas:
    "title title title title title"
    ".. body body body .. "
    "footer footer footer footer footer   ";
}

.title_container h1::before {
  content: "Blogs on: ";
}

.blog_item :first-of-type a {
  display: block;
  width: 100%;
}

.blog_item h3 {
  width: 100%;
  transition: 1s ease-in-out .1s;
  border-bottom: 1px #f1faee outset;
}

.blog_item_metadata {
  display: flex;
  justify-content: center;
}

.blog_item_metadata span {
  margin: .5rem;

}

.blog_item:hover {
  font-size: large;
  color: #f1faeeae;
  background-color: rgba(31, 31, 31, 0.502);
}

.blog_item:hover a {
  font-size: larger;
  color: darkorange;

}

.blog_item a {
  margin-bottom: .5rem;
  text-decoration: none;
  transition: 1s ease-in-out .1s;
}

.blog_item:hover h3 {
  border-color: darkorange;
}

.blog_item a:hover,
.blog_item a:focus,
.blog_item a:active {
  opacity: 50%;
}

@media screen and (max-width:800px ) {

  .blog_item {
   max-width:100%;
   width: 100%;
  }

}

@media screen and (max-width: 550px) {

  .blog_item {
    max-width: 100%;
  }

}


@media screen and (max-width: 320px) {
  .title_container h1::before {
    content: "Blogs: ";
  }

  .title_container {
    padding: .5rem;
  }


}

@keyframes title {


  0% {
    opacity: 0%;
  }

  25% {
    opacity: 50%;
  }

  50% {
    opacity: 100%;
  }

  75% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }

}